<div class="side-bar-header">
  <ul class="tabs">
    <li><button id="note-tab" class="tab active">note</button></li>
    <li><button id="prompt-tab" class="tab">prompt</button></li>
  </ul>
</div>
<div class="flex-shrink-0 p-3" style="width: 280px;">
  <% if (context == :show || context == :edit) && user_signed_in? && current_user == @note.user %>
    <ul class="list-unstyled ps-0">
      <li class="mb-1">
        <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0" data-bs-toggle="collapse" data-bs-target="#home-collapse" aria-expanded="false">
          カテゴリー1
        </button>
        <div class="collapse" id="home-collapse">
          <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
            <li><%= link_to 'hoge', '#', class: 'link-body-emphasis d-inline-flex text-decoration-none rounded' %></li>
          </ul>
        </div>
      </li>
    </ul>
  <% end %>
</div>
<div class="sidebar-footer">
  <%= link_to '戻る', notes_path, class: 'btn btn-secondary' %>
</div>
