<div class="wrapper">
  <div class="side-bar">
    <%= render partial: "shared/side_bar", locals: { object: @note, context: :new } %>
  </div>
  <div class="markdown-area">
    <%= render partial: "shared/markdown", locals: { object: @note } %>
  </div>
</div>