<div class="wrapper">
  <div class="side-bar">
    <%= render partial: 'shared/side_bar', locals: { context: :show, object: @note } %>
  </div>
  <div class="markdown-area">
    <%= render partial: 'shared/show_markdown', locals: { object: @note } %>
  </div>
</div>
