<div class="wrapper">
  <div class="side-bar">
    <%= render partial: "shared/side_bar", locals: { object: @prompt_form, context: :new } %>
  </div>
  <div class="markdown-area">
    <%= render partial: "shared/markdown", locals: { object: @prompt_form, url: prompts_path, method: :post } %>
  </div>
</div>