<div class="position-relative overflow-hidden p-3 p-md-3 text-center bg-body-tertiary">
  <div class="col-12 col-md-6 mx-auto my-5">
    <h1 class="display-4 fw-bold">SHAREMOでMemoを<br/>管理・共有しよう</h1>
    <h3 class="fw-normal text-muted mb-3">マークダウン記述で手軽にMemoを<br/>保存できます</h3>
    <div class="d-flex gap-3 justify-content-center lead fw-normal">
      <%= link_to 'PUSH!', notes_path, class: 'btn btn--orange btn--circle btn--shadow' %>
    </div>
  </div>
</div>

<hr class="introduction-divider">

<div class="d-flex flex-column-reverse flex-md-row">
  <div class="col-12 col-md-5 introduction-text">
    <h2 class="introduction-heading fw-normal lh-1">シンプルで直感的な操作<br />マークダウン形式で知識を整理、共有</h2>
    <p class="lead">MemoをNoteとPromptの2種類で管理、それぞれカテゴリーやタグで分類することができます。マークダウン形式の入力をサポートすることで、使用者は知識を効果的に整理できます。</p>
  </div>
  <div class="col-12 col-md-7">
    <%= image_tag 'new_note.gif', alt: 'Example GIF', class: 'introduction-gif img-fluid' %>
  </div>
</div>

<hr class="introduction-divider">

<div class="d-flex flex-column flex-md-row">
  <div class="col-12 col-md-7">
    <%= image_tag 'share_note.gif', alt: 'Example GIF', class: 'introduction-gif img-fluid' %>
  </div>
  <div class="col-12 col-md-5 introduction-text">
    <h2 class="introduction-heading fw-normal lh-1">作成したMemoはいつでも閲覧可能</h2>
    <p class="lead">Memoは一覧画面で即座に閲覧可能です。公開・非公開の設定、編集・削除も自由自在。仲間と知識を効率的に共有できます。</p>
  </div>
</div>
