<div class="wrapper">
  <div class="mypage-side-bar">
    <%= render partial: 'shared/mypage_side_bar' %>
  </div>
  <div class="mypage-main-content">
    <%= render partial: 'shared/basic_info' %>
  </div>
</div>
