<div class="note-info-section">
  <% if public_notes.any? %>
    <h3>Public Notes</h3>
    <div class="notes-list">
      <% public_notes.each do |note| %>
        <%= render partial: 'shared/note_boxes', locals: { object: note, page: 'mypage' } %>
      <% end %>
    </div>
  <% end %>

  <% if private_notes.any? %>
    <h3>Private Notes</h3>
    <div class="notes-list">
      <% private_notes.each do |note| %>
        <%= render partial: 'shared/note_boxes', locals: { object: note, page: 'mypage' } %>
      <% end %>
    </div>
  <% end %>
</div>
