<div class="side-bar-header">
  <ul class="tabs">
    <li><%= link_to 'note', new_note_path, id: 'note-tab', class: "tab #{controller_name == 'notes' ? 'active' : ''}" %></li>
    <li><%= link_to 'prompt', new_prompt_path, id: 'prompt-tab', class: "tab #{controller_name == 'prompts' ? 'active' : ''}" %></li>
  </ul>
</div>

<div class="flex-shrink-0 p-3" style="width: 280px;">
  <% if (context == :show || context == :edit) && user_signed_in? && current_user == object.user %>
    <ul class="list-unstyled ps-0">
      <li class="mb-1">
        <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0" data-bs-toggle="collapse" data-bs-target="#home-collapse" aria-expanded="false">
          カテゴリー1
        </button>
        <div class="collapse" id="home-collapse">
          <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
            <li><%= link_to 'hoge', '#', class: 'link-body-emphasis d-inline-flex text-decoration-none rounded' %></li>
          </ul>
        </div>
      </li>
    </ul>
  <% end %>
</div>
<div class="sidebar-footer">
  <%= link_to '戻る', notes_path, class: 'btn btn-secondary' %>
</div>
