<div class="wrapper-list">
  <div class="container my-4">
    <%= render partial: 'shared/search_results' %>
  </div>

  <div class="notes-container">
    <% @objects.each do |object| %>
      <% if object.is_public %>
        <%= render partial: 'shared/note_boxes', locals: { object:, page: 'index' } %>
      <% end %>
    <% end %>
  </div>

  <div class="pagination">
    <%= paginate @objects %>
  </div>
</div>
