/* ----------------
 一覧ページ用のCSS
---------------- */
.wrapper-list {
  padding: 1px;
}

.notes-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1200px;
  margin: 0 auto;
}

.index_note-box {
  width: 200px;
  height: 250px;
  margin: 20px 10px;
  border: 1px solid #ccc;
  padding: 10px;
  position: relative;
  transition: all 0.3s ease;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 0 0 auto;
  background-color: #ffffff;
}

.index_note-box:hover {
  transform: scale(1.1);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  font-weight: bold;
  margin-top: 10px;
}

.date {
  font-size: 12px;
  margin: 0 0 0 auto;
  color: #bfbcbc;
}

/** カテゴリー用 **/
.category {
  font-size: 12px;
  background-color: #eee;
  border-radius: 15px;
  padding: 5px 10px;
  display: inline-block;
}

/** ノートのタイプ用 **/
.type {
  font-size: 12px;
  border-radius: 15px;
  padding: 5px 10px;
  display: inline-block;
}

.type[data-obj="Note"] {
  background-color: #cff4fc;
}

.type[data-obj="Prompt"] {
  background-color: #f8d7da;
}

/** Tag用 **/
.tags {
  margin-top: 10px;
}

.tag {
  display: inline-block;
  color: #eee;
  border-radius: 3px;
  padding: 3px 5px;
  font-size: 12px;
  margin-bottom: 5px;
}

.tag:before {
  content: "# ";
}

.tag-1 {
  background-color: #007bff;
}

.tag-2 {
  background-color: #6c757d;
}

.tag-3 {
  background-color: #28a745;
}

.tag-4 {
  background-color: #dc3545;
}

.tag-5 {
  background-color: #ffc107;
}

.tag-6 {
  background-color: #17a2b8;
}

.tag-7 {
  background-color: #20c997;
}

.tag-8 {
  background-color: #d63384;
}

.tag-9 {
  background-color: #fd7e14;
}

.tag-10 {
  background-color: #6610f2;
}

/** 詳細ボタン用 **/
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.details-button {
  background-color: #007bff;
  color: white;
}

.details-button:hover {
  background-color: #0056b3;
  color: white;
}

/** 参考ボタン用 **/
.informative {
  display: flex;
  align-items: center;
}

.icon-informative::before {
  margin-right: 5px;
  margin-left: 10px;
  cursor: pointer;
}

.informative-count {
  font-size: 18px;
}

.bi-lightbulb-fill {
  color: yellow;
}

/** 検索用 **/
.search-filter-section {
  width: 100%;
}

.search-input-group {
  width: 50%;
}

.filter-section {
  width: 75%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.form-group {
  width: calc(25% - 10px);
  min-width: 200px;
}

@media (max-width: 768px) {
  .search-input-group {
    width: 100%;
  }

  .filter-section {
    width: 100%;
    flex-direction: column;
    gap: 10px;
  }

  .form-group {
    width: 100%;
  }
}

.select2-container--default.select2-container--focus .select2-selection--multiple {
  border: solid #ced4da 1px;
}

.select2-container--default .select2-selection--multiple {
  border: 1px solid #ced4da;
  border-radius: 0.375rem;
  height: 2.375rem;
  padding: 0.175rem 0.5rem;
  display: flex;
  align-items: center;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
  background-color: #e9ecef;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  margin-right: 0.25rem;
  padding: 0.05rem 0.4rem;
  color: #495057;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
  cursor: pointer;
  margin-left: 0.1rem;
}

.select2-container--default .select2-selection--multiple .select2-selection__clear {
  margin-right: 0px;
}

/** ページネイション用 **/
.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px 0;
}

.page {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 45px;
  background: #fff;
  border: solid 2px #111;
  font-size: 14px;
  font-weight: bold;
}

.page a {
  text-decoration: none;
  color: black;
}

.page a:hover {
  color: white;
}

.current {
  background: #0d6efd;
  color: #fff;
  pointer-events: none;
}

.page:not(.current):hover {
  background: #0d6efd;
  color: #fff;
}

.pagination > * + * {
  margin-left: -2px;
}

.prev, .next {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 45px;
  border: solid 2px #111;
  font-size: 12px;
  font-weight: bold;
}

.prev {
  border-radius: 100% 0 0 100% / 90%;
}

.next {
  border-radius: 0 100% 100% 0 / 90%;
}

.prev:hover, .next:hover {
  background: #0d6efd;
  color: #fff;
}

.prev a, .next a {
  text-decoration: none;
  color: black;
}

.prev a:hover, .next a:hover {
  color: white;
}

.first, .last {
  display: none;
}
