/* ----------------
 一覧ページ用のCSS
---------------- */
.wrapper-list {
  padding: 1px;
}

.notes-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1200px;
  margin: 0 auto;
}

.note-box {
  width: 200px;
  height: 250px;
  margin: 20px 10px;
  border: 1px solid #ccc;
  padding: 10px;
  position: relative;
  transition: all 0.3s ease;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.note-box:hover {
  transform: scale(1.1);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  font-weight: bold;
  margin-top: 10px;
}

/** カテゴリー用 **/
.category {
  font-size: 12px;
  background-color: #eee;
  border-radius: 15px;
  padding: 5px 10px;
  display: inline-block;
}

/** ノートのタイプ用 **/
.type {
  font-size: 12px;
  border-radius: 15px;
  padding: 5px 10px;
  display: inline-block;
}

.type[data-obj="Note"] {
  background-color: #cff4fc;
}

.type[data-obj="Prompt"] {
  background-color: #f8d7da;
}

/** Tag用 **/
.tags {
  margin-top: 10px;
}

.tag {
  display: inline-block;
  color: #eee;
  border-radius: 3px;
  padding: 3px 5px;
  font-size: 12px;
  margin-bottom: 5px;
}

.tag:before {
  content: "# ";
}

.tag-1 {
  background-color: #007bff;
}

.tag-2 {
  background-color: #6c757d;
}

.tag-3 {
  background-color: #28a745;
}

.tag-4 {
  background-color: #dc3545;
}

.tag-5 {
  background-color: #ffc107;
}

.tag-6 {
  background-color: #17a2b8;
}

.tag-7 {
  background-color: #20c997;
}

.tag-8 {
  background-color: #d63384;
}

.tag-9 {
  background-color: #fd7e14;
}

.tag-10 {
  background-color: #6610f2;
}

/** 詳細ボタン用 **/
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.details-button {
  background-color: #007bff;
  color: white;
}

.details-button:hover {
  background-color: #0056b3;
  color: white;
}

/** 参考ボタン用 **/
.informative {
  display: flex;
  align-items: center;
}

.icon-informative::before {
  margin-right: 5px;
  margin-left: 10px;
  cursor: pointer;
}

.informative-count {
  font-size: 18px;
}

.bi-lightbulb-fill {
  color: yellow;
}

/** 検索用 **/
.search-filter-section {
  width: 100%;
}

.search-input-group {
  width: 50%;
}

.filter-section {
  width: 75%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.form-group {
  width: calc(25% - 10px);
  min-width: 200px;
}

@media (max-width: 768px) {
  .search-input-group {
    width: 100%;
  }

  .filter-section {
    width: 100%;
    flex-direction: column;
    gap: 10px;
  }

  .form-group {
    width: 100%;
  }
}

