/* ----------------
 マイページ用のCSS
---------------- */
.mypage-side-bar {
  width: 280px;
  background-color: #f8f9fa;
  padding: 15px;
  overflow-y: auto;
}

.profile-section {
  margin-bottom: 10px;
}

.profile-img {
  font-size: 6rem;
  height: 150px;
  width: 150px;
  border: 3px solid mediumspringgreen;
  margin: auto;
  background-color: white;
}

.profile-icon {
  font-size: 6rem;
  height: 150px;
  width: 150px;
  border: 3px solid deepskyblue;
  margin: auto;
  background-color: white;
}

.bi-person-plus-fill {
  color: deepskyblue;
}

.basic-info-section,
.note-info-section,
.prompts-info-section {
  margin-bottom: 20px;
}

.sidebar-link {
  text-decoration: none;
  color: black;
  margin-left: 5px;
}

.hidden {
  display: none;
}

.notes-list,
.prompts-list {
  display: flex;
  overflow-x: auto;
  margin-bottom: 15px;
}

.mypage-main-content {
  padding: 15px;
  width: calc(100% - 280px);
}

.content-info .row > * {
  padding-left: 0;
}

td:empty::before {
  content: "ー";
  color: gray;
}

.mypage_sidebar-footer {
  text-align: right;
}

.tooltip-container {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.tooltip-container .tooltip-text {
    visibility: hidden;
    font-size: 11px;
    width: 120px;
    background-color: #00bfff;
    color: #ffffff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 75%;
    margin-left: -45px;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip-container:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}

.tooltip-text:before {
  content: "";
  position: absolute;
  bottom: -7px;
  left: -1px;
  margin-top: -15px;
  border: 8px solid transparent;
  border-left: 10px solid #00bfff;
  z-index: 0;
  -webkit-transform: rotate(25deg);
  transform: rotate(25deg);
}

.mypage_note-box {
  width: 200px;
  height: 250px;
  margin: 20px -70px 20px 10px;
  border: 1px solid #ccc;
  padding: 10px;
  position: relative;
  transition: all 0.3s ease;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 0 0 auto;
  background-color: #ffffff;
}

.mypage_note-box:hover {
  transform: scale(1.1);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  z-index: 1;
}