/* ----------------
 Topページ用のCSS
---------------- */

.btn--orange {
  color: #fff;
  background-color: #eb6100;
}

/* マウスオーバー時の設定 */
.btn--orange:hover {
  color: #fff;
  background: #ff8630;
}

/* ボタンの影 */
.btn--shadow {
  -webkit-box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.3);
  box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.3);
}

/* ボタンの形(丸) */
.btn--circle {
  border-radius: 50%;
  line-height: 80px;
  width: 80px;
  height: 80px;
  padding: 0;
}

.introduction-divider {
  margin: 2rem 0;
}

.introduction-heading {
  letter-spacing: -.05rem;
}

.introduction-text {
  padding: 10px;
}

.introduction-gif {
  max-width: 100%;
  max-height: 100%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  padding: 20px;
  margin: 10px 0;
}

/* ----------------
 共通ヘッダー用のCSS
---------------- */
.dropdown-menu {
  display: none;
  position: absolute;
  z-index: 1000;
  right: 0;
  left: auto;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.profile-header-img {
  width: 50px;
  height: 50px;
  border: 3px solid mediumspringgreen;
}

.profile-header-icon {
  font-size: 2rem;
}

.fixed-header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  background-color: white;
}

.contents-margin-top {
  margin-top: 88px;
}


/* モバイルデバイス向けのスタイル調整 */
@media (max-width: 768px) {
  .introduction-heading {
    font-size: 1.45rem;
  }

  .introduction-text {
    padding: 20px;
  }

  .introduction-gif {
    width: 100%;
    margin: 20px 0;
  }

  .d-flex {
    display: block;
    text-align: center;
  }

  .btn--circle {
    width: 60px;
    height: 60px;
    line-height: 60px;
  }
}
