/* ----------------
 Topページ用のCSS
---------------- */

.btn--orange {
  color: #fff;
  background-color: #eb6100;
}

/* マウスオーバー時の設定 */
.btn--orange:hover {
  color: #fff;
  background: #ff8630;
}

/* ボタンの影 */
.btn--shadow {
  -webkit-box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.3);
  box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.3);
}

/* ボタンの形(丸) */
.btn--circle {
  border-radius: 50%;
  line-height: 80px;
  width: 80px;
  height: 80px;
  padding: 0;
}

/* ----------------
 共通ヘッダー用のCSS
---------------- */
.dropdown-menu {
  display: none;
  position: absolute;
  z-index: 1000;
}

.dropdown:hover .dropdown-menu {
  display: block;
}